{% extends "localizator/leaflet_map.html" %}

{% block title %} Fancy heatmap {% endblock %}

{% block head2 %}
{% load static %}
<script src="{% static 'heatmap/leaflet-heat.js' %}"></script>
{% endblock %}

{% block content %}
<h1> Heatmap </h1>
    {% if user.is_authenticated %}
        {% include "localizator/template_select.html" with action="heatmap" button_name="Show" %}
        {% if contacts_map.localizations %}
            <h3>Infected locations</h3>
            {% include "heatmap/template_heatmap.html" with mapid="map1" center=contacts_map.center localizations=contacts_map.localizations %}
        {% else %}
            <h3>There is nothing to display</h3>
        {% endif %}
        {% if user_map.localizations %}
            <h3>User's locations</h3>
            {% include "heatmap/template_heatmap.html" with mapid="map2" center=user_map.center localizations=user_map.localizations %}
        {% else %}
            <h3>There is nothing to display</h3>
        {% endif %}
    {% else %}
        <p>You need to <a href="/login">log in</a> to see your heatmap</p>
    {% endif %}
{% endblock %}