{% extends "localizator/base.html" %}

{% block title %} Fancy heatmap {% endblock %}

{% block head %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

{% load static %}
<script src="{% static 'heatmap/leaflet-heat.js' %}"></script>
{% endblock %}

{% block content %}
{% include "heatmap/template_heatmap.html" with mapid="map1" center=center localizations=localizations %}
{% endblock %}