<!doctype html>
<html>
    <head>
        <title>{% block title %} Base page {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head %} {% endblock %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'localizator/base.css' %}">
    </head>
    <body>

        <div class="side_bar">
            <a href="/home">Home</a>
            <a href="/instruction">Instructions</a>
            <a href="/upload">Upload</a>
            <a href="/status">Status</a>
            <a href="/local_hist"><font size="5">Localization history</font></a>
            <a href="/list-meetings">Possible contacts with diagnosed people</a>
        </div>

        <div class="ml-5 mr-0" id="content", name="content">
            <div class="row justify-content-center">
                <div class="col-9">
                    <h1 class="mt-2">Covid localizations</h1>
                    <hr class="mt-0 mb-4">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="footy">
            <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
                <div class="container text-center">
                    {% if user.is_authenticated %}
                        Hello, you are logged as: {{name}}, <a href="/logout">logout</a>
                    {% else %}
                        <a href="/login">Login</a> or <a href="/register">sign up</a>
                    {% endif %}
                </div>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
