{% extends "localizator/base.html" %}

{% block title %} Instructions {% endblock %}

{% block content %}
    <h2>How to use our web page:</h2>
    <ul class="list-group">
        <li class="list-group-item">1. <a href="/register">Create</a> an account</li>
        <li class="list-group-item">2. <a href="/status">Set</a> your status</li>
        <li class="list-group-item">3. Download your localization history from google's <a href="https://takeout.google.com/">page</a></li>
        <li class="list-group-item">4. <a href="/upload">Upload</a> your localization history to our database (don't worry, It's safe)</li>
        <li class="list-group-item">5. <a href="/local_hist">Explore</a> your history of localization and wait for notifications (We'll let you know via email if you are in danger)</li>
      </ul>
{% endblock %}