{% extends "localizator/base.html" %}

{% block title %} Upload your file {% endblock %}

{% block content %}
<h1> Upload your json files </h1>
    {% if error_json_message %}
        <div class="alert alert-danger">{{error_json_message}}</div>
    {% endif %}
    {% if user.is_authenticated %}
        {% include "localizator/template_select.html" with action="upload" button_name="Upload" %}
    {% else %}
        <p>You need to <a href="/login">log in</a> to upload your localization</p>
    {% endif %}
{% endblock %}