{% extends "localizator/base.html" %}

{% block title %} Upload your file {% endblock %}

{% block content %}
    {% if error_json_message %}
        <div class="alert alert-danger">{{error_json_message}}</div>
    {% endif %}
    {% if user.is_authenticated %}
    <form method="post" action="{% url "upload" %}" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="choose_month">
            {% for month in months%}
                <option value={{month}}>{{month}}</option>
            {% endfor %}
        </select>
        <select name="choose_year">
            {% for year in years%}
                <option value={{year}}>{{year}}</option>
            {% endfor %}
        </select>
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Upload</button>
    </form>
    {% else %}
    <p>You need to <a href="/login">log in</a> to upload your localization</p>
    {% endif %}
{% endblock %}