{% extends "localizator/base.html" %}

{% block title %}Meetings{% endblock %}

{%block content%}
    {% if user.is_authenticated %}
        {% if list_of_meetings %}
            <table class="table table-stripe">
                <tr>
                    <th>Lp.</th>
                    <th>Distance to person</th>
                    <th>Begin date</th>
                    <th>End date</th>
                    <th>Link to map and detailed data</th>
                </tr>
            {%for meetings in list_of_meetings%}
                <tr>
                    <td>{{forloop.counter}}.</td>
                    <td>{{meetings.distance}} km</td>
                    <td>{{meetings.startTimestamp}}</td>
                    <td>{{meetings.endTimestamp}}</td>
                    <td><a href="{{meetings.id}}">Check details and map</a></td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <h3>There are no confirmed close contacts with you! Nevertheless we ask you to check it daily.</h3>
        {% endif %}
    {% else %}
    <p>You need to <a href="/login">log in</a> to browse your possible meetings</p>
    {% endif %}
{% endblock %}
