{% extends "localizator/base.html" %}

{% block title %}Localization history{% endblock %}
{% load crispy_forms_tags %}

{% block head %}
<style>
table, th, td {
  border: 1px solid black;
}
.map_table {
	display: inline-block;
	margin-right: 50px;
}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
{% endblock %}

{% block content %}
<h1> Localization history </h1>
{% if user.is_authenticated %}
	<form method="post" action="{% url "local_hist" %}" enctype="multipart/form-data">
	{% csrf_token %}
	<select name="choose_month">
		{% for month in months %}
			<option value={{month}}>{{month}}</option>
		{% endfor %}
	</select>
	<select name="choose_year">
		{% for year in years %}
			<option value={{year}}>{{year}}</option>
		{% endfor %}
	</select>
	{{form.as_p}}
	<p><p></p><button type="submit" class="btn btn-success">Show</button></p></p>
	</form>	
	{% for item in output %}
		<div class="map_table">
			{% if item|length == 7 %}
				{% include "local_hist/template_map.html" with mapid=forloop.counter0 lat1=item.Places_latitude lon1=item.Places_longitude %}
			{% else %}
				{% include "local_hist/template_map.html" with mapid=forloop.counter0 lat1=item.Start_latitude lon1=item.Start_longitude lat2=item.End_latitude lon2=item.End_longitude %}
			{% endif %}
		</div>
		<div class="map_table">
			<table style="max-width:400px">
			{% for key, val in item.items %}
				<tr class=""> 
					<th>{{key}}</th> 
					<td>{{val}}</td> 
				</tr>
			{% endfor %}
			</table>
			<br><br>
		</div>
	{% endfor %}
	<br>
{% else %}
<p>You need to <a href="/login">log in</a> to show your localizations history</p>
{% endif %}
{% endblock %}
