{% extends "localizator/base.html" %}

{% block title %}Localization history{% endblock %}
{% load crispy_forms_tags %}
{% block head %}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
	{% for item in output %}

		{% if item|length == 4 %}
			<p>Visit place on <a href="/local_hist/visit/{{item.PlacesLatitude}}/{{item.PlacesLongitude}}">map</a></p>
		{% else %}
			<p>Activity on <a href="/local_hist/activity/{{item.startLatitude}}/{{item.startLongitude}}/{{item.endLatitude}}/{{item.endLongitude}}">map</a></p>
		{% endif %}

		{% for key, val in item.items %}
			{{key}} {{val}} <br> 
		{% endfor %}
		<br><br>
	{% endfor %}
	<br>
    {% else %}
    <p>You need to <a href="/login">log in</a> to show your localizations history</p>
{% endif %}
{% endblock %}
