{% extends "localizator/base.html" %}

{% block title %}Localization history{% endblock %}
{% load crispy_forms_tags %}
{% block head %}
<style>
table, th, td {
  border: 1px solid black;
}
</style>
{% endblock %}
{% block content %}
<h1> Localization history </h1>
{% if user.is_authenticated %}
	{% for item in output %}
	
		{% if item|length == 7 %}
			<p>Visit place on <a href="/local_hist/visit/{{item.Places_latitude}}/{{item.Places_longitude}}">map</a></p>
		{% else %}
			<p>Activity on <a href="/local_hist/activity/{{item.Start_latitude}}/{{item.Start_longitude}}/{{item.End_latitude}}/{{item.End_longitude}}">map</a></p>
		{% endif %}
		
		<table>
		{% for key, val in item.items %}
			<tr> <th>{{key}}</th> <td>{{val}}</td> </tr> 
		{% endfor %}
		</table>
		<br><br>
	{% endfor %}
	<br>
    {% else %}
    <p>You need to <a href="/login">log in</a> to show your localizations history</p>
{% endif %}
{% endblock %}
